$break-mobile: 'max-width: 500px';
$break-tablet: 'max-width: 768px';
$break-pad: 'max-width: 1024px';
$break-note: 'max-width: 1280px';
$break-desktop: 'max-width: 1920px';

$color-sites: #454545;
$color-links: #b6b6b6;
$yellow: #f1c40f;

$sprite: url('../img/readly-sprite.png');

$f-b: 'stag-book';
$f-bi: 'stag-bookitalic';
$f-l: 'stag-light';
$f-m: 'stag-medium';
$f-sb: 'stag-semibold';
$f-i: 'fontello';
